# Dependências node
client/node_modules/
server/node_modules/

# Build / dist
client/dist/
server/dist/

# Variáveis de ambiente
.env
client/.env
server/.env

# Logs
npm-debug.log*
yarn-debug.log*

# IDEs e sistema
.vscode/
.idea/
.DS_Store
Thumbs.db