<div class="container">
    <div class="lateral"></div>

    <div class="table-container">
        <div class="superior">
            <div class="header">
                <h1>Notas de Entrada</h1>
                <p>Veja informações sobre as Notas Fiscais adicionadas</p>
            </div>

            <div class="button">
                <button mat-flat-button [routerLink]="['/notasdeentrada/novo']">Registrar Nova Nota Fiscal</button>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="table">
            <table mat-table [dataSource]="dataSource" *ngIf="!loading && !error">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let nota">{{ getIdCurto(nota.idNF) }}</td>
                </ng-container>

                <ng-container matColumnDef="fornecedor">
                    <th mat-header-cell *matHeaderCellDef>Fornecedor</th>
                    <td mat-cell *matCellDef="let nota">{{ nota.fornecedor.razaoSocial }}</td>
                </ng-container>

                <ng-container matColumnDef="numero">
                    <th mat-header-cell *matHeaderCellDef>Número</th>
                    <td mat-cell *matCellDef="let nota">{{ nota.numero }}</td>
                </ng-container>

                <ng-container matColumnDef="serie">
                    <th mat-header-cell *matHeaderCellDef>Série</th>
                    <td mat-cell *matCellDef="let nota">{{ nota.serie }}</td>
                </ng-container>

                <ng-container matColumnDef="dataEmissao">
                    <th mat-header-cell *matHeaderCellDef>Data de Emissão</th>
                    <td mat-cell *matCellDef="let nota">{{ nota.dataEmissao | date: 'dd/MM/yyyy' }}</td>
                </ng-container>

                <ng-container matColumnDef="detalhes">
                    <th mat-header-cell *matHeaderCellDef>Detalhes</th>
                    <td mat-cell *matCellDef="let nota">
                        <button mat-icon-button (click)="openModalItens(nota.itens)">
                            <mat-icon>add</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <div *ngIf="error" class="error">{{ error }}</div>
            </table>

            <mat-paginator 
                [pageSize]="6"
                [pageSizeOptions]="[]" 
                showFirstLastButtons
            ></mat-paginator>
        </div>

    </div>
</div>